<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Error {{error.statusCode}}</h1>
        <h2>
          {{error.message}}</h2>
        <div class="error-details">
          Details {{error.stack}}
        </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>